ws-client/regweb3_api/src/main/resources/wsdl/RegWebRegistroEntrada.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegWebRegistroEntradaWsService" targetNamespace="http://impl.v3.ws.regweb3.caib.es/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.v3.ws.regweb3.caib.es/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://impl.v3.ws.regweb3.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v3.ws.regweb3.caib.es/">
  <xs:element name="altaRegistroEntrada" type="tns:altaRegistroEntrada"/>
  <xs:element name="altaRegistroEntradaResponse" type="tns:altaRegistroEntradaResponse"/>
  <xs:element name="anexoWs" type="tns:anexoWs"/>
  <xs:element name="anularRegistroEntrada" type="tns:anularRegistroEntrada"/>
  <xs:element name="anularRegistroEntradaResponse" type="tns:anularRegistroEntradaResponse"/>
  <xs:element name="datosInteresadoWs" type="tns:datosInteresadoWs"/>
  <xs:element name="distribuirRegistroEntrada" type="tns:distribuirRegistroEntrada"/>
  <xs:element name="distribuirRegistroEntradaResponse" type="tns:distribuirRegistroEntradaResponse"/>
  <xs:element name="getVersion" type="tns:getVersion"/>
  <xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
  <xs:element name="getVersionWs" type="tns:getVersionWs"/>
  <xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse"/>
  <xs:element name="identificadorWs" type="tns:identificadorWs"/>
  <xs:element name="interesadoWs" type="tns:interesadoWs"/>
  <xs:element name="justificanteWs" type="tns:justificanteWs"/>
  <xs:element name="nuevoRegistroEntrada" type="tns:nuevoRegistroEntrada"/>
  <xs:element name="nuevoRegistroEntradaResponse" type="tns:nuevoRegistroEntradaResponse"/>
  <xs:element name="obtenerJustificante" type="tns:obtenerJustificante"/>
  <xs:element name="obtenerJustificanteResponse" type="tns:obtenerJustificanteResponse"/>
  <xs:element name="obtenerRegistroEntrada" type="tns:obtenerRegistroEntrada"/>
  <xs:element name="obtenerRegistroEntradaID" type="tns:obtenerRegistroEntradaID"/>
  <xs:element name="obtenerRegistroEntradaIDResponse" type="tns:obtenerRegistroEntradaIDResponse"/>
  <xs:element name="obtenerRegistroEntradaResponse" type="tns:obtenerRegistroEntradaResponse"/>
  <xs:element name="registroEntradaResponseWs" type="tns:registroEntradaResponseWs"/>
  <xs:element name="registroEntradaWs" type="tns:registroEntradaWs"/>
  <xs:element name="registroResponseWs" type="tns:registroResponseWs"/>
  <xs:element name="registroWs" type="tns:registroWs"/>
  <xs:element name="tramitarRegistroEntrada" type="tns:tramitarRegistroEntrada"/>
  <xs:element name="tramitarRegistroEntradaResponse" type="tns:tramitarRegistroEntradaResponse"/>
  <xs:complexType name="obtenerJustificante">
    <xs:sequence>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerJustificanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:justificanteWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="justificanteWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="justificante" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsFieldValidationError">
    <xs:sequence>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="field" type="xs:string"/>
      <xs:element name="translation" type="tns:wsI18NTranslation"/>
      <xs:element name="error" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsI18NTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsI18NArgument">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="translate" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRegistroEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRegistroEntradaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:registroEntradaResponseWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registroEntradaResponseWs">
    <xs:complexContent>
      <xs:extension base="tns:registroResponseWs">
        <xs:sequence>
          <xs:element minOccurs="0" name="destinoCodigo" type="xs:string"/>
          <xs:element minOccurs="0" name="destinoDenominacion" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registroResponseWs">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="anexos" nillable="true" type="tns:anexoWs"/>
      <xs:element minOccurs="0" name="aplicacion" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoAsuntoCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoAsuntoDescripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoUsuario" type="xs:string"/>
      <xs:element minOccurs="0" name="contactoUsuario" type="xs:string"/>
      <xs:element minOccurs="0" name="docFisicaCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="docFisicaDescripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="entidadCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="entidadDenominacion" type="xs:string"/>
      <xs:element minOccurs="0" name="expone" type="xs:string"/>
      <xs:element minOccurs="0" name="extracto" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaOrigen" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="idiomaCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="idiomaDescripcion" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="interesados" nillable="true" type="tns:interesadoWs"/>
      <xs:element minOccurs="0" name="libroCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="libroDescripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string"/>
      <xs:element minOccurs="0" name="numExpediente" type="xs:string"/>
      <xs:element minOccurs="0" name="numTransporte" type="xs:string"/>
      <xs:element name="numeroRegistro" type="xs:int"/>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroRegistroOrigen" type="xs:string"/>
      <xs:element minOccurs="0" name="observaciones" type="xs:string"/>
      <xs:element minOccurs="0" name="oficinaCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="oficinaDenominacion" type="xs:string"/>
      <xs:element minOccurs="0" name="refExterna" type="xs:string"/>
      <xs:element minOccurs="0" name="solicita" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoAsuntoCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoAsuntoDescripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoTransporteCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoTransporteDescripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anexoWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreFicheroAnexado" type="xs:string"/>
      <xs:element minOccurs="0" name="ficheroAnexado" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="tipoMIMEFicheroAnexado" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDocumental" type="xs:string"/>
      <xs:element minOccurs="0" name="validezDocumento" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string"/>
      <xs:element minOccurs="0" name="observaciones" type="xs:string"/>
      <xs:element minOccurs="0" name="origenCiudadanoAdmin" type="xs:int"/>
      <xs:element minOccurs="0" name="fechaCaptura" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="modoFirma" type="xs:int"/>
      <xs:element minOccurs="0" name="nombreFirmaAnexada" type="xs:string"/>
      <xs:element minOccurs="0" name="firmaAnexada" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="tipoMIMEFirmaAnexada" type="xs:string"/>
      <xs:element minOccurs="0" name="csv" type="xs:string"/>
      <xs:element minOccurs="0" name="justificante" type="xs:boolean"/>
      <xs:element minOccurs="0" name="confidencial" type="xs:boolean"/>
      <xs:element minOccurs="0" name="hash" type="xs:base64Binary"/>
      <xs:element name="tamanoFichero" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interesadoWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="interesado" type="tns:datosInteresadoWs"/>
      <xs:element minOccurs="0" name="representante" type="tns:datosInteresadoWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datosInteresadoWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido1" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido2" type="xs:string"/>
      <xs:element minOccurs="0" name="canal" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoDire" type="xs:string"/>
      <xs:element minOccurs="0" name="cp" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="direccionElectronica" type="xs:string"/>
      <xs:element minOccurs="0" name="documento" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="localidad" type="xs:long"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="observaciones" type="xs:string"/>
      <xs:element minOccurs="0" name="pais" type="xs:long"/>
      <xs:element minOccurs="0" name="provincia" type="xs:long"/>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="telefono" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDocumentoIdentificacion" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoInteresado" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anularRegistroEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
      <xs:element name="anular" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anularRegistroEntradaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="altaRegistroEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="registroEntradaWs" type="tns:registroEntradaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registroEntradaWs">
    <xs:complexContent>
      <xs:extension base="tns:registroWs">
        <xs:sequence>
          <xs:element minOccurs="0" name="destino" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registroWs">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="anexos" nillable="true" type="tns:anexoWs"/>
      <xs:element minOccurs="0" name="aplicacion" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoAsunto" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoUsuario" type="xs:string"/>
      <xs:element minOccurs="0" name="contactoUsuario" type="xs:string"/>
      <xs:element minOccurs="0" name="docFisica" type="xs:long"/>
      <xs:element minOccurs="0" name="expone" type="xs:string"/>
      <xs:element minOccurs="0" name="extracto" type="xs:string"/>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="idioma" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="interesados" nillable="true" type="tns:interesadoWs"/>
      <xs:element minOccurs="0" name="libro" type="xs:string"/>
      <xs:element minOccurs="0" name="numExpediente" type="xs:string"/>
      <xs:element minOccurs="0" name="numTransporte" type="xs:string"/>
      <xs:element minOccurs="0" name="numero" type="xs:int"/>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
      <xs:element minOccurs="0" name="observaciones" type="xs:string"/>
      <xs:element minOccurs="0" name="oficina" type="xs:string"/>
      <xs:element minOccurs="0" name="refExterna" type="xs:string"/>
      <xs:element minOccurs="0" name="solicita" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoAsunto" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoTransporte" type="xs:string"/>
      <xs:element minOccurs="0" name="version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="altaRegistroEntradaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:identificadorWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identificadorWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="numero" type="xs:int"/>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersion">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersionWs">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionWsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRegistroEntradaID">
    <xs:sequence>
      <xs:element name="any" type="xs:int"/>
      <xs:element name="numeroRegistro" type="xs:int"/>
      <xs:element minOccurs="0" name="libro" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRegistroEntradaIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:identificadorWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tramitarRegistroEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tramitarRegistroEntradaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="distribuirRegistroEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroRegistroFormateado" type="xs:string"/>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distribuirRegistroEntradaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="nuevoRegistroEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="entidad" type="xs:string"/>
      <xs:element minOccurs="0" name="registroEntradaWs" type="tns:registroEntradaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevoRegistroEntradaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:identificadorWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsValidationErrors" type="tns:WsValidationErrors"/>
  <xs:complexType name="WsValidationErrors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsI18NError" type="tns:WsI18NError"/>
  <xs:complexType name="WsI18NError">
    <xs:sequence>
      <xs:element minOccurs="0" name="translation" type="tns:wsI18NTranslation"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="distribuirRegistroEntradaResponse">
    <wsdl:part name="parameters" element="tns:distribuirRegistroEntradaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerRegistroEntradaResponse">
    <wsdl:part name="parameters" element="tns:obtenerRegistroEntradaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part name="parameters" element="tns:getVersionWsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part name="WsI18NException" element="tns:WsI18NError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaRegistroEntrada">
    <wsdl:part name="parameters" element="tns:altaRegistroEntrada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="tns:getVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerRegistroEntradaID">
    <wsdl:part name="parameters" element="tns:obtenerRegistroEntradaID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tramitarRegistroEntradaResponse">
    <wsdl:part name="parameters" element="tns:tramitarRegistroEntradaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nuevoRegistroEntradaResponse">
    <wsdl:part name="parameters" element="tns:nuevoRegistroEntradaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerJustificante">
    <wsdl:part name="parameters" element="tns:obtenerJustificante">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerRegistroEntrada">
    <wsdl:part name="parameters" element="tns:obtenerRegistroEntrada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerJustificanteResponse">
    <wsdl:part name="parameters" element="tns:obtenerJustificanteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part name="WsValidationException" element="tns:WsValidationErrors">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerRegistroEntradaIDResponse">
    <wsdl:part name="parameters" element="tns:obtenerRegistroEntradaIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anularRegistroEntrada">
    <wsdl:part name="parameters" element="tns:anularRegistroEntrada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anularRegistroEntradaResponse">
    <wsdl:part name="parameters" element="tns:anularRegistroEntradaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaRegistroEntradaResponse">
    <wsdl:part name="parameters" element="tns:altaRegistroEntradaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part name="parameters" element="tns:getVersionWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tramitarRegistroEntrada">
    <wsdl:part name="parameters" element="tns:tramitarRegistroEntrada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="distribuirRegistroEntrada">
    <wsdl:part name="parameters" element="tns:distribuirRegistroEntrada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nuevoRegistroEntrada">
    <wsdl:part name="parameters" element="tns:nuevoRegistroEntrada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegWebRegistroEntradaWs">
    <wsdl:operation name="obtenerJustificante">
      <wsdl:input name="obtenerJustificante" message="tns:obtenerJustificante">
    </wsdl:input>
      <wsdl:output name="obtenerJustificanteResponse" message="tns:obtenerJustificanteResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerRegistroEntrada">
      <wsdl:input name="obtenerRegistroEntrada" message="tns:obtenerRegistroEntrada">
    </wsdl:input>
      <wsdl:output name="obtenerRegistroEntradaResponse" message="tns:obtenerRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="anularRegistroEntrada">
      <wsdl:input name="anularRegistroEntrada" message="tns:anularRegistroEntrada">
    </wsdl:input>
      <wsdl:output name="anularRegistroEntradaResponse" message="tns:anularRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="altaRegistroEntrada">
      <wsdl:input name="altaRegistroEntrada" message="tns:altaRegistroEntrada">
    </wsdl:input>
      <wsdl:output name="altaRegistroEntradaResponse" message="tns:altaRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="tns:getVersion">
    </wsdl:input>
      <wsdl:output name="getVersionResponse" message="tns:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input name="getVersionWs" message="tns:getVersionWs">
    </wsdl:input>
      <wsdl:output name="getVersionWsResponse" message="tns:getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerRegistroEntradaID">
      <wsdl:input name="obtenerRegistroEntradaID" message="tns:obtenerRegistroEntradaID">
    </wsdl:input>
      <wsdl:output name="obtenerRegistroEntradaIDResponse" message="tns:obtenerRegistroEntradaIDResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="tramitarRegistroEntrada">
      <wsdl:input name="tramitarRegistroEntrada" message="tns:tramitarRegistroEntrada">
    </wsdl:input>
      <wsdl:output name="tramitarRegistroEntradaResponse" message="tns:tramitarRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="distribuirRegistroEntrada">
      <wsdl:input name="distribuirRegistroEntrada" message="tns:distribuirRegistroEntrada">
    </wsdl:input>
      <wsdl:output name="distribuirRegistroEntradaResponse" message="tns:distribuirRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="nuevoRegistroEntrada">
      <wsdl:input name="nuevoRegistroEntrada" message="tns:nuevoRegistroEntrada">
    </wsdl:input>
      <wsdl:output name="nuevoRegistroEntradaResponse" message="tns:nuevoRegistroEntradaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegWebRegistroEntradaWsServiceSoapBinding" type="tns:RegWebRegistroEntradaWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerJustificante">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerJustificante">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerJustificanteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerRegistroEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerRegistroEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerRegistroEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="anularRegistroEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="anularRegistroEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="anularRegistroEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="altaRegistroEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="altaRegistroEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="altaRegistroEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersionWs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerRegistroEntradaID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerRegistroEntradaID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerRegistroEntradaIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="tramitarRegistroEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="tramitarRegistroEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="tramitarRegistroEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="distribuirRegistroEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="distribuirRegistroEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="distribuirRegistroEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="nuevoRegistroEntrada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="nuevoRegistroEntrada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="nuevoRegistroEntradaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegWebRegistroEntradaWsService">
    <wsdl:port name="RegWebRegistroEntradaWs" binding="tns:RegWebRegistroEntradaWsServiceSoapBinding">
      <soap:address location="http://localhost:8080/regweb3/ws/v3/RegWebRegistroEntrada"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
