ws-client/regweb3_api/src/main/resources/wsdl/RegWebPersonas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegWebPersonasWsService" targetNamespace="http://impl.v3.ws.regweb3.caib.es/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.v3.ws.regweb3.caib.es/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://impl.v3.ws.regweb3.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v3.ws.regweb3.caib.es/">
  <xs:element name="actualizarPersona" type="tns:actualizarPersona"/>
  <xs:element name="actualizarPersonaResponse" type="tns:actualizarPersonaResponse"/>
  <xs:element name="borrarPersona" type="tns:borrarPersona"/>
  <xs:element name="borrarPersonaResponse" type="tns:borrarPersonaResponse"/>
  <xs:element name="crearPersona" type="tns:crearPersona"/>
  <xs:element name="crearPersonaResponse" type="tns:crearPersonaResponse"/>
  <xs:element name="getVersion" type="tns:getVersion"/>
  <xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
  <xs:element name="getVersionWs" type="tns:getVersionWs"/>
  <xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse"/>
  <xs:element name="listarPersonas" type="tns:listarPersonas"/>
  <xs:element name="listarPersonasResponse" type="tns:listarPersonasResponse"/>
  <xs:element name="personaWs" type="tns:personaWs"/>
  <xs:complexType name="borrarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="borrarPersonaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="wsI18NTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsI18NArgument">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="translate" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="entidadCodigoDir3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:personaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido1" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido2" type="xs:string"/>
      <xs:element minOccurs="0" name="canal" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoEntidadGeograficaDir3ID" type="xs:string"/>
      <xs:element minOccurs="0" name="cp" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="direccionElectronica" type="xs:string"/>
      <xs:element minOccurs="0" name="documento" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="entidadDir3ID" type="xs:string"/>
      <xs:element name="guardarInteresado" type="xs:boolean"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="localidadDir3ID" type="xs:long"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="observaciones" type="xs:string"/>
      <xs:element minOccurs="0" name="paisDir3ID" type="xs:long"/>
      <xs:element minOccurs="0" name="provinciaDir3ID" type="xs:long"/>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="telefono" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDocumentoIdentificacionNTI" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoPersonaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaWs" type="tns:personaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPersonaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="wsFieldValidationError">
    <xs:sequence>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="field" type="xs:string"/>
      <xs:element name="translation" type="tns:wsI18NTranslation"/>
      <xs:element name="error" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersionWs">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionWsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersion">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaWs" type="tns:personaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsI18NError" type="tns:WsI18NError"/>
  <xs:complexType name="WsI18NError">
    <xs:sequence>
      <xs:element minOccurs="0" name="translation" type="tns:wsI18NTranslation"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsValidationErrors" type="tns:WsValidationErrors"/>
  <xs:complexType name="WsValidationErrors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part name="parameters" element="tns:getVersionWsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part name="WsI18NException" element="tns:WsI18NError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarPersona">
    <wsdl:part name="parameters" element="tns:actualizarPersona">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearPersonaResponse">
    <wsdl:part name="parameters" element="tns:crearPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="tns:getVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearPersona">
    <wsdl:part name="parameters" element="tns:crearPersona">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="borrarPersona">
    <wsdl:part name="parameters" element="tns:borrarPersona">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarPersonas">
    <wsdl:part name="parameters" element="tns:listarPersonas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarPersonasResponse">
    <wsdl:part name="parameters" element="tns:listarPersonasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="borrarPersonaResponse">
    <wsdl:part name="parameters" element="tns:borrarPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarPersonaResponse">
    <wsdl:part name="parameters" element="tns:actualizarPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part name="WsValidationException" element="tns:WsValidationErrors">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part name="parameters" element="tns:getVersionWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegWebPersonasWs">
    <wsdl:operation name="borrarPersona">
      <wsdl:input name="borrarPersona" message="tns:borrarPersona">
    </wsdl:input>
      <wsdl:output name="borrarPersonaResponse" message="tns:borrarPersonaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarPersonas">
      <wsdl:input name="listarPersonas" message="tns:listarPersonas">
    </wsdl:input>
      <wsdl:output name="listarPersonasResponse" message="tns:listarPersonasResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarPersona">
      <wsdl:input name="actualizarPersona" message="tns:actualizarPersona">
    </wsdl:input>
      <wsdl:output name="actualizarPersonaResponse" message="tns:actualizarPersonaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input name="getVersionWs" message="tns:getVersionWs">
    </wsdl:input>
      <wsdl:output name="getVersionWsResponse" message="tns:getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="tns:getVersion">
    </wsdl:input>
      <wsdl:output name="getVersionResponse" message="tns:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPersona">
      <wsdl:input name="crearPersona" message="tns:crearPersona">
    </wsdl:input>
      <wsdl:output name="crearPersonaResponse" message="tns:crearPersonaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegWebPersonasWsServiceSoapBinding" type="tns:RegWebPersonasWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="borrarPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="borrarPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="borrarPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarPersonas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarPersonas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarPersonasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="actualizarPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="actualizarPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersionWs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="crearPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="crearPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegWebPersonasWsService">
    <wsdl:port name="RegWebPersonasWs" binding="tns:RegWebPersonasWsServiceSoapBinding">
      <soap:address location="http://localhost:9080/regweb3/ws/v3/RegWebPersonas"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
