sir/sir-server/src/main/resources/wsdl/axis/WS_SIR8_B.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions
		xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace=""
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
	<wsdl:types>
		<s:schema elementFormDefault="qualified">
			<s:element name="envioFicherosAAplicacion">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="value0" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="value1" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="envioFicherosAAplicacionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="envioFicherosAAplicacionResult"
								   type="RespuestaWS"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="RespuestaWS">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="RespuestaWS" nillable="true" type="RespuestaWS"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="envioFicherosAAplicacionSoapIn">
		<wsdl:part name="parameters" element="envioFicherosAAplicacion"/>
	</wsdl:message>
	<wsdl:message name="envioFicherosAAplicacionSoapOut">
		<wsdl:part name="parameters" element="envioFicherosAAplicacionResponse"/>
	</wsdl:message>
	<wsdl:message name="envioFicherosAAplicacionHttpGetIn">
		<wsdl:part name="value0" type="s:string"/>
		<wsdl:part name="value1" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="envioFicherosAAplicacionHttpGetOut">
		<wsdl:part name="Body" element="RespuestaWS"/>
	</wsdl:message>
	<wsdl:message name="envioFicherosAAplicacionHttpPostIn">
		<wsdl:part name="value0" type="s:string"/>
		<wsdl:part name="value1" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="envioFicherosAAplicacionHttpPostOut">
		<wsdl:part name="Body" element="RespuestaWS"/>
	</wsdl:message>
	<wsdl:portType name="WS_SIR8_BSoap">
		<wsdl:operation name="envioFicherosAAplicacion">
			<wsdl:input message="envioFicherosAAplicacionSoapIn"/>
			<wsdl:output message="envioFicherosAAplicacionSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WS_SIR8_BHttpGet">
		<wsdl:operation name="envioFicherosAAplicacion">
			<wsdl:input message="envioFicherosAAplicacionHttpGetIn"/>
			<wsdl:output message="envioFicherosAAplicacionHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WS_SIR8_BHttpPost">
		<wsdl:operation name="envioFicherosAAplicacion">
			<wsdl:input message="envioFicherosAAplicacionHttpPostIn"/>
			<wsdl:output message="envioFicherosAAplicacionHttpPostOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WS_SIR8_BSoap" type="WS_SIR8_BSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="envioFicherosAAplicacion">
			<soap:operation soapAction="/envioFicherosAAplicacion" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WS_SIR8_BSoap12" type="WS_SIR8_BSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="envioFicherosAAplicacion">
			<soap12:operation soapAction="/envioFicherosAAplicacion" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WS_SIR8_BHttpGet" type="WS_SIR8_BHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="envioFicherosAAplicacion">
			<http:operation location="/envioFicherosAAplicacion"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WS_SIR8_BHttpPost" type="WS_SIR8_BHttpPost">
		<http:binding verb="POST"/>
		<wsdl:operation name="envioFicherosAAplicacion">
			<http:operation location="/envioFicherosAAplicacion"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WS_SIR8_B">
		<wsdl:port name="WS_SIR8_BSoap" binding="WS_SIR8_BSoap">
			<soap:address location="http://localhost/services/WS_SIR8_B"/>
		</wsdl:port>
		<wsdl:port name="WS_SIR8_BSoap12" binding="WS_SIR8_BSoap12">
			<soap12:address location="http://localhost/services/WS_SIR8_B"/>
		</wsdl:port>
		<wsdl:port name="WS_SIR8_BHttpGet" binding="WS_SIR8_BHttpGet">
			<http:address location="http://localhost/services/WS_SIR8_B"/>
		</wsdl:port>
		<wsdl:port name="WS_SIR8_BHttpPost" binding="WS_SIR8_BHttpPost">
			<http:address location="http://localhost/services/WS_SIR8_B"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>