ws/sir_server/WS_SIR8_B.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WS_SIR8_BWsService" targetNamespace="http://impl.manager.cct.map.es"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.manager.cct.map.es"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://impl.manager.cct.map.es" version="1.0" xmlns:tns="http://impl.manager.cct.map.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="envioFicherosAAplicacion" type="tns:envioFicherosAAplicacion"/>
<xs:element name="envioFicherosAAplicacionResponse" type="tns:envioFicherosAAplicacionResponse"/>
<xs:complexType name="envioFicherosAAplicacion">
<xs:sequence>
<xs:element minOccurs="0" name="registro" type="xs:string"/>
<xs:element minOccurs="0" name="firmaRegistro" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="envioFicherosAAplicacionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:respuestaWS"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="respuestaWS">
<xs:sequence>
<xs:element minOccurs="0" name="codigo" type="xs:string"/>
<xs:element minOccurs="0" name="descripcion" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="envioFicherosAAplicacion">
    <wsdl:part element="tns:envioFicherosAAplicacion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="envioFicherosAAplicacionResponse">
    <wsdl:part element="tns:envioFicherosAAplicacionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WS_SIR8_BWs">
    <wsdl:operation name="envioFicherosAAplicacion">
      <wsdl:input message="tns:envioFicherosAAplicacion" name="envioFicherosAAplicacion">
    </wsdl:input>
      <wsdl:output message="tns:envioFicherosAAplicacionResponse" name="envioFicherosAAplicacionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SIR8_BWsServiceSoapBinding" type="tns:WS_SIR8_BWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="envioFicherosAAplicacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="envioFicherosAAplicacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="envioFicherosAAplicacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_SIR8_BWsService">
    <wsdl:port binding="tns:WS_SIR8_BWsServiceSoapBinding" name="WS_SIR8_BWs">
      <soap:address location="http://localhost:8080/regweb3/ws/sir/v3/WS_SIR8_B"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>